.container {
  text-align: center;
  background-color: #000000; 
  color: #ffffff; 
}

.title {
  margin-top: 35px;
  color: #ff5733; 
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title span {
  color: #ff99cc;
  padding-left: 12px;
}

.reset {
  width: 180px;
  height: 65px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 30px;
  background: #8b0000; 
  font-size: 18px;
  color: #ecf0f1; 
  margin-top: 12px;
  margin-bottom: 25px;
}

.reset:hover {
  background: #5a0000; 
}

.boxes {
  display: flex;
  height: 140px;
  width: 140px;
  background: #003366; 
  border: 4px solid #006400; 
  cursor: pointer;
}

.boxes:hover {
  background: #001a33; 
}

.board {
  height: 480px;
  width: 444px;
  display: flex;
  margin: auto;
}

.boxes img {
  margin: 25px 25px;
}
